{:paths ["src" "classes"]
 :deps {org.clojure/clojure {:mvn/version "1.11.1"}}
 :aliases {:aot {:extra-paths ["classes"]}
           :uberjar {:replace-deps {uberdeps/uberdeps {:mvn/version "1.3.0"}}
                     :replace-paths ["classes"]
                     :main-opts ["-m" "uberdeps.uberjar"]}
           :test {:extra-paths ["test"]
                  :extra-deps {lambdaisland/kaocha {:mvn/version "1.84.1335"}}}}}
