name: Clojure CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  tests:
    runs-on: ubuntu-latest
    container:
      image: clojure:temurin-20-jammy

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache clojure dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: cljdeps-${{ hashFiles('deps.edn') }}
          restore-keys: cljdeps-

      - name: run tests
        run: bin/kaocha

      - name: debug
        run: >-
          ls -la ~/.clojure;
          pwd;
          echo $HOME;
          find / -name .gitlibs 2> /dev/null;
          find / -name .m2 2> /dev/null;

  clj-kondo:
    runs-on: ubuntu-latest
    container:
      image: clojure:temurin-20-jammy

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Cache clojure dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.m2/repository
            ~/.gitlibs
          key: cljdeps-${{ hashFiles('deps.edn') }}
          restore-keys: cljdeps-

      - name: Cache just
        uses: actions/cache@v3
        id: cache-just
        with:
          key: justcache-v1.14.0
          path: |
            /usr/local/bin/just

      - name: install just
        if: steps.cache-just.outputs.cache-hit != 'true'
        run: >-
          apt update;
          apt install -y wget;
          wget -O- https://github.com/casey/just/releases/download/1.14.0/just-1.14.0-x86_64-unknown-linux-musl.tar.gz | tar xvz -C /usr/local/bin just;

      - name: lint
        run: just lint
